<!DOCTYPE html>
<html lang="en">
  <head>
    <title>camelCase vs kebab-case form</title>
    <meta name="author" content="Alessandro Artusa, Roberto Ibanez" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
  </head>

  <body>
    <header>
      <h1>Compile Form</h1>
    </header>

    <main>
      <form>
        <label for="age-input">Age</label>
        <input
          id="age-input"
          type="number"
          min="1"
          max="99"
          placeholder="Enter your age"
        />

        <label for="gender-input">Gender</label>
        <select id="gender-input">
          <option value="male">Male</option>
          <option value="female">Female</option>
          <option value="other">Other</option>
        </select>
      </form>
    </main>

    <footer>
      <p>Copyright: artusa@usi.ch, roberto.ibanez@usi.ch</p>
    </footer>
  </body>
</html>
