<!DOCTYPE html>
<html lang="en">
  <head>
    <title>camelCase vs kebab-case form</title>
    <meta name="author" content="Alessandro Artusa, Roberto Ibanez" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
  </head>

  <body>
    <header>
      <h1>Compile Form</h1>
    </header>

    <main id="form-main">
      <form id="myForm" method="post" action="/submit-form">
        <label for="age-input">Age</label>
        <input
          id="age-input"
          type="number"
          min="6"
          max="99"
          placeholder="Enter your age"
          required
          name="age"
        />

        <label for="gender-input">Gender</label>
        <select id="gender-input" name="gender">
          <option value="male">Male</option>
          <option value="female">Female</option>
          <option value="other">Other</option>
        </select>

        <label for="programmer-input"
          >Had previous programming experience</label
        >
        <input id="programmer-input" type="checkbox" name="programmer" />

        <label for="language-input">English native speaker</label>
        <input id="language-input" type="checkbox" name="language" />

        <label for="computer-usage">Computer usage frequency</label>
        <select id="computer-usage" name="computerUsage">
          <option value="rarely">Rarely</option>
          <option value="regularly">Regularly</option>
          <option value="often">Often</option>
        </select>
      </form>

      <button id="submitBtn" form="myForm" type="submit" class="link-button">
        <b>Start the test!</b>
      </button>
    </main>

    <footer>
      <p>Copyright: artusa@usi.ch, roberto.ibanez@usi.ch</p>
    </footer>

    <script src="/js/form-script.js"></script>
  </body>
</html>
