<!DOCTYPE html>
<html lang="en">
  <head>
    <title>camelCase vs kebab-case Identifiers</title>
    <meta name="author" content="Roberto Ibanez, Alessandro Artusa" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
  </head>

  <body>
    <header>
      <h3>Choose the correct one!</h3>
    </header>
    <main id="identifier-main">
      <a class="identifier-link"></a>
      <a class="identifier-link"></a>
      <a class="identifier-link"></a>
      <a class="identifier-link"></a>
    </main>

    <footer>
      <p>Copyright: artusa@usi.ch, roberto.ibanez@usi.ch</p>
    </footer>

    <script src="/js/identifier.js"></script>
  </body>
</html>
