<!DOCTYPE html>
<html lang="en">
  <head>
    <title>camelCase vs kebab-case Test</title>
    <meta name="author" content="Roberto Ibanez, Alessandro Artusa" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
  </head>

  <body>
    <header>
      <h2>Test</h2>
    </header>
    <main id="test-main"></main>

    <footer>
      <p>Copyright: artusa@usi.ch, roberto.ibanez@usi.ch</p>
    </footer>
  </body>
</html>
