body {
  font: 20px "Lucida Grande", Helvetica, Arial, sans-serif;
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "header header header"
    "main main main"
    "footer footer footer";
  gap: 20px;
  overflow-x: hidden;
  margin: 0;
}

header {
  grid-area: header;
  text-align: center;
}

main {
  grid-area: main;
}

main p {
  text-align: center;
  margin: 20px;
}

#intro-main {
  display: grid;
  grid-template-rows: auto auto;
}

footer {
  grid-area: footer;
  background-color: white;
  position: sticky;
  text-align: center;
  width: 100%;
  bottom: 0;
  margin: 0;
  color: #666666;
}

.link-button {
  justify-self: center;
  text-align: center;
  width: fit-content;
  height: fit-content;
  padding: 20px;
  border: #676774 1px solid;
  border-radius: 4px;
  text-decoration: none;
  color: #080809;
  background-color: #e9e9ed;
  transition: 250ms;
}

.link-button:hover {
  background-color: #D0D0D7;
}

form {
  text-align: center;
  display: grid;
  gap: 20px;
  grid-template-columns: auto auto;
  max-width: fit-content;
  margin: auto;
  padding: 20px 50px 20px 50px;
  border: #080809 solid 1px;
  border-radius: 10px
} 

#form-main {
  display: grid;
  grid-template-rows: auto auto;
}

input[type="checkbox"] {
  max-height: 17px;
}

input[type="number"] {
  min-width: 100px;
}

#submitBtn {
  font-size: 20px;
  margin: 20px;
  transition: 250ms;
}

#test-main {
  display: grid;
}

#sentence-h2 {
  margin: auto;
  justify-self: center;
}

#identifier-main {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  gap: 50px;
  padding: 20px;
}

.identifier-btn {
  /* margin: auto;
  border: solid 1px #676774;
  padding: 50px;
  width: 60%;
  height: 60%;
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center; */
  font-style: italic;
  font-size: 40px;
  transition: 250ms;
  border-radius: 20px;
}

.identifier-btn:hover {
  background-color: peachpuff;
  text-decoration: underline;
}

@media (max-width: 768px) {
  .identifier-btn {
    font-size: 25px;
    margin: 0;
  }
}
