body {
  font: 20px "Lucida Grande", Helvetica, Arial, sans-serif;
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "header header header"
    "main main main"
    "footer footer footer";
  gap: 20px;
  overflow-x: hidden;
  margin: 0;
}

header {
  grid-area: header;
  text-align: center;
}

main {
  grid-area: main;
}

main p {
  text-align: center;
  margin: 20px;
}

#intro-main {
  display: grid;
  grid-template-rows: auto auto;
}

footer {
  grid-area: footer;
  background-color: white;
  position: sticky;
  text-align: center;
  width: 100%;
  bottom: 0;
  margin: 0;
  color: #666666;
}

.link-button {
  justify-self: center;
  text-align: center;
  width: fit-content;
  height: fit-content;
  padding: 20px;
  border: #676774 1px solid;
  border-radius: 4px;
  text-decoration: none;
  color: #080809;
  background-color: #e9e9ed;
  transition: 250ms;
}

.link-button:hover {
  background-color: #D0D0D7;
}

form {
  text-align: center;
} 
